Devices/esp32/m5dial/DialFlows.json
[
    {
        "id": "17328d33642723e8",
        "type": "tab",
        "label": "Dial",
        "disabled": false,
        "info": "",
        "env": [],
        "_mcu": {
            "mcu": true
        }
    },
    {
        "id": "ce7820388dbc0f67",
        "type": "mcu_pulse_count",
        "z": "17328d33642723e8",
        "name": "Dial",
        "signal": "40",
        "control": "41",
        "moddable_manifest": {
            "include": "$(NODEREDMCU)/nodes/mcu/pulsecount/manifest.json"
        },
        "_mcu": {
            "mcu": true
        },
        "x": 150,
        "y": 140,
        "wires": [
            [
                "f7dd175301af11f6"
            ]
        ]
    },
    {
        "id": "8c44c5f728372478",
        "type": "debug",
        "z": "17328d33642723e8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "_mcu": {
            "mcu": true
        },
        "x": 440,
        "y": 140,
        "wires": []
    },
    {
        "id": "f7dd175301af11f6",
        "type": "function",
        "z": "17328d33642723e8",
        "name": "/4",
        "func": "const val=Math.floor(msg.payload/4);\nif(context.get(\"val\")!=val){\n    context.set(\"val\",val);\n    msg.payload=val;\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// ここに記述したコードは、ノードをデプロイした時に\n// 一度だけ実行されます。\ncontext.set(\"val\",0);",
        "finalize": "",
        "libs": [],
        "_mcu": {
            "mcu": true
        },
        "x": 290,
        "y": 140,
        "wires": [
            [
                "8c44c5f728372478"
            ]
        ]
    }
]