esp32/m5stack/ButtonFlows.json
[
    {
        "id": "92634e6cc27fb18a",
        "type": "tab",
        "label": "Button",
        "disabled": false,
        "info": "",
        "env": [],
        "_mcu": {
            "mcu": true
        }
    },
    {
        "id": "6db079dc90794149",
        "type": "mcu_digital_in",
        "z": "92634e6cc27fb18a",
        "name": "BtnA",
        "pin": "39",
        "mode": "InputPullUp",
        "edge": "1",
        "debounce": "10",
        "initial": false,
        "invert": false,
        "moddable_manifest": {
            "include": "$(NODEREDMCU)/nodes/mcu/digital/manifest.json"
        },
        "_mcu": {
            "mcu": true
        },
        "x": 150,
        "y": 220,
        "wires": [
            [
                "3476e576821743bf"
            ]
        ]
    },
    {
        "id": "3f6542265f0cd6e0",
        "type": "mcu_digital_in",
        "z": "92634e6cc27fb18a",
        "name": "BtnC",
        "pin": "37",
        "mode": "InputPullUp",
        "edge": "1",
        "debounce": "10",
        "initial": false,
        "invert": false,
        "moddable_manifest": {
            "include": "$(NODEREDMCU)/nodes/mcu/digital/manifest.json"
        },
        "_mcu": {
            "mcu": true
        },
        "x": 150,
        "y": 340,
        "wires": [
            [
                "33c6f2b475a263c5"
            ]
        ]
    },
    {
        "id": "d8f5727b40723b81",
        "type": "mcu_digital_in",
        "z": "92634e6cc27fb18a",
        "name": "BtnB",
        "pin": "38",
        "mode": "InputPullUp",
        "edge": "1",
        "debounce": "10",
        "initial": false,
        "invert": false,
        "moddable_manifest": {
            "include": "$(NODEREDMCU)/nodes/mcu/digital/manifest.json"
        },
        "_mcu": {
            "mcu": true
        },
        "x": 150,
        "y": 280,
        "wires": [
            [
                "a8e88558a0e540c7"
            ]
        ]
    },
    {
        "id": "3476e576821743bf",
        "type": "template",
        "z": "92634e6cc27fb18a",
        "name": "BtnA",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": " Button A Push!",
        "output": "str",
        "_mcu": {
            "mcu": true
        },
        "x": 290,
        "y": 220,
        "wires": [
            [
                "27756dcef2bcfa19"
            ]
        ]
    },
    {
        "id": "33c6f2b475a263c5",
        "type": "template",
        "z": "92634e6cc27fb18a",
        "name": "BtnC",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": " Button C Push!",
        "output": "str",
        "_mcu": {
            "mcu": true
        },
        "x": 290,
        "y": 340,
        "wires": [
            [
                "27756dcef2bcfa19"
            ]
        ]
    },
    {
        "id": "a8e88558a0e540c7",
        "type": "template",
        "z": "92634e6cc27fb18a",
        "name": "BtnB",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": " Button B Push!",
        "output": "str",
        "_mcu": {
            "mcu": true
        },
        "x": 290,
        "y": 280,
        "wires": [
            [
                "27756dcef2bcfa19"
            ]
        ]
    },
    {
        "id": "27756dcef2bcfa19",
        "type": "debug",
        "z": "92634e6cc27fb18a",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "_mcu": {
            "mcu": true
        },
        "x": 530,
        "y": 280,
        "wires": []
    }
]