esp32/m5stack/M5StackBuzzerFlows.json
[
    {
        "id": "2a864178222053ce",
        "type": "tab",
        "label": "Buzzer",
        "disabled": false,
        "info": "",
        "env": [],
        "_mcu": {
            "mcu": true
        }
    },
    {
        "id": "b93c8eb57fb82513",
        "type": "inject",
        "z": "2a864178222053ce",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "_mcu": {
            "mcu": true
        },
        "x": 220,
        "y": 120,
        "wires": [
            [
                "bb8d0d1f63b65c75"
            ]
        ]
    },
    {
        "id": "bb8d0d1f63b65c75",
        "type": "trigger",
        "z": "2a864178222053ce",
        "name": "",
        "op1": "0.5",
        "op2": "0",
        "op1type": "num",
        "op2type": "num",
        "duration": "500",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "_mcu": {
            "mcu": true
        },
        "x": 420,
        "y": 120,
        "wires": [
            [
                "c95743232e7fa939"
            ]
        ]
    },
    {
        "id": "c95743232e7fa939",
        "type": "mcu_pwm_out",
        "z": "2a864178222053ce",
        "name": "",
        "pin": "25",
        "hz": "1000",
        "moddable_manifest": {
            "include": "$(NODEREDMCU)/nodes/mcu/pwm/manifest.json"
        },
        "_mcu": {
            "mcu": true
        },
        "x": 610,
        "y": 120,
        "wires": []
    }
]